@import url('https://fonts.googleapis.com/css?family=Ek+Mukta:400,600,700');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'Ek Mukta', sans-serif;
    --secondary-font: 'Ek Mukta', cursive;
    --body-font: 'Ek Mukta', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}

html {
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

section {
    padding: 2rem 0;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.6 rem;
}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), transparent);
}

.nav {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle {
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}

.fa-times {
    display: none;
}

.nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: cadetblue;
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
}

.nav::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.open .fa-times {
    display: block;
}

.open .fa-bars {
    display: none;
}

.open .nav-list {
    transform: translateX(0);
}

.open .nav::before {
    opacity: 1;
    transform: scale(1);
}

.nav-item {
    border-bottom: 2px solid rgba(255, 255, 255, .3);
}

.nav-link {
    display: block;
    color: gainsboro;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color.5s;
}

.nav-link:hover {
    color: skyblue;
}


.home {
    width: 100%;
    height: 100vh;
    background: url(images/cars.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.sub-headline {
    font-size: 8.5rem;
    font-family: var(--secondary-font);
    color: whitesmoke;
    font-weight: 100;
    line-height: .90;
    letter-spacing: 2px;
}

.first-letter {
    text-transform: uppercase;
    font-size: 10.3rem;
}

.headline {
    color: #fff;
    font-size: 3.7rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
    margin-right: -.5rem;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 100%;
    max-width: 8.4rem;
    height: .25rem;
    background-color: #fff;
    position: relative;
}

.line-right::before,
.line-left::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .6rem solid transparent;
}

.line-right::before {
    border-right-color: #fff;
    right: 0;
}

.line-left::before {
    border-left-color: #fff;
    left: 0;
}

.asterisk {
    font-size: 1.2rem;
    color: var(--secondary-font-color);
    margin: 0 1.6rem;
}

.headline-description h5 {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
}

.cta-btn {
    font-size: 1.1rem;
    background-color: #fff;
    padding: .9rem 1.8rem;
    color: var(--body-font-color);
    border-radius: .4rem;
    transition: background-color .5s;
}

.cta-btn:hover,
.cta-btn:focus {
    color: #fff;
    background-color: #428bca;
}

.global-headline {
    text-align: center;
    margin-top: 3.9rem;
}

.cars .global-headline {
    margin-top: 6.9rem;
}

.global-headline .asterisk {
    color: var(--body-font-color);
    margin: 2.4rem 0;
}

.headline-dark {
    color: var(--main-font-color-dark);
    letter-spacing: .7rem;
    margin-right: -.7rem;
}

.global-headline .sub-headline {
    color: var(--main-font-color-dark);
    letter-spacing: -.1px;
    line-height: 90px;
    font-size: 60px;
}

#links {
    background-color: whitesmoke;
}

#links .sub-headline {
    color: var(--main-font-color-dark);
    letter-spacing: -.1px;
    line-height: 90px;
    font-size: 60px;
    text-align: center;
}

#responsive {
    display: inline-block;
    position: relative;
}

#responsive img {
    width: 80%;
    height: auto;
    border-radius: 4px;
}

#cars #responsive img {
    width: 250px;
    height: 150px;
}

@media only screen and (max-width: 700px) {
    #responsive {
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    #responsive {
        width: 30%;
    }
}

@media screen and (min-width: 900px) {
    
    modal-content{
        width: auto;
        height: auto;
    }
    section {
        padding: 7.9rem;
    }

    .menu-toggle {
        display: none;
    }

    .nav {
        justify-content: space-between;
    }

    .nav-list {
        position: inh;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }

    .nav-item {
        margin: 0 2.4rem;
        border: none;
    }

    .nav-item:last-child {
        margin-right: 0;
    }

    .nav-link {
        font-size: 1.3rem;
    }

    .active {
        position: relative;
    }

    .active::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
    }
}

.modal-hover-opacity {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-backface-visibility: hidden
}

.modal-hover-opacity:hover {
    opacity: 0.60;
    filter: alpha(opacity=60);
    -webkit-backface-visibility: hidden
}


.close {
    /*position: absolute;*/
    text-decoration: none;
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: white
}

.modal-content,
#caption {

    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@keyframes modal-open {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
}

/* Center website */
.main {
    margin: auto;
}

.row {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
    line-height: 6pt;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    /*width: 33.33%; */
    display: none;
    width: 25%;
    height: 298px;
    text-align: center;
    padding-bottom: 10px;
}

.column img {
    max-height: 330px;
    max-width: 90%;
    border-radius: 4px;
}

.column a {
    text-decoration: none;
}

.column p {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.6;
    margin-top: 10px;
}


/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba (0, 0, 0, 0.5);
    z-index: 2;
    display: none;
    animation: modal-open .5s;
}

.modal-content {
    font-family: Calibri, sans-serif;
    background-color: gainsboro;
    margin-top: 120px;
    width: 50%;
    height: 56%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    border-radius: 4px;
    z-index: 4;
}

.modal-content img {
    max-height: 90vh;
    width: auto;
}

.modal-header h2 {
    font-size: 30px;
    font-family: Calibri, sans-serif;
    text-align: center;
    padding: 13px;
    margin-top: 15px;
}

.modal-header .modal-close {
    float: right;
    font-size: 20px;
    background: #efefef;
    border: 0;
    outline: 0;
    padding: 5px 8px;
    border-radius: 50%;
}

.modal-body {
    color: #7b7b7b;
    padding: 15px 0;
}

.modal-footer {
    padding: 15px 0;
}

.modal-footer .modal-close {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #1a73e8;
}

.modal-open {
    background-color: #25A1AB;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 6px 4px;
    text-align: center;
    font-family: Calibri, sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.modal-open:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

.box-btn {
    border: none;
    outline: none;
    font-family: Calibri, sans-serif;
    padding: 6px 12px;
    background-color: white;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.box-btn:hover {
    background-color: aliceblue;
}

.box-btn.active {
    background-color: #25A1AB;
    color: white;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: 90px;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.info img {
    width: 44%;
    margin-left: 15px;
    border-radius: 10px;
    display: inline;
    float: left;
}

.iframe-container {
    padding: 5px;
    border-radius: 10px;
    display: inline;
    float: right;
}

iframe {
    border-radius: 4px;
    width: 100%;
    height: 150%;
}

#details ul li {
    margin-top: 30px;
    font-size: 17.5px;
    padding: 0.1rem;
    list-style-type: none;
    transition: 0.8s all;
    text-align: center;
    color: black;
}

.center-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 190px;
    height: 56px
}

.boxHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}

.box {
    width: 25%;
    height: auto;
    text-align: center;
    padding-bottom: 10px;
}

.box img {
    max-height: 330px;
    max-width: 100%;
    border-radius: 4px;
}

.box a {
    text-decoration:none;
}

.box a:hover {
    color: skyblue;
}

.box p {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.6;
    margin-top: 10px;
}

footer {
    padding: 7.9rem 0;
    background-color: cadetblue;
    color: #fff;
    text-align: center;
    position: relative;
}

.back-to-top {
    width: 7rem;
    height: 7rem;
    background-color: cadetblue;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.back-to-top i {
    display: block;
    color: #fff;
    font-size: 2rem;
    padding: 2rem;
}
